.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name bird
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          %a{:href => "/groups/new"}
            %i.fa.fa-edit
          %li.side-header__box__menu__edit-user
          %a{:href => "/users/23403/edit"}
            %i.fa.fa-cog
  .groups
    %a{:href => "/groups/29510/messages"}
      .group
        %p.group__group-name momotarou２
        %p.group__latest-message 黍団子は小さめで。

